$primary-color: #4CE0D7;
$secondary-color: #BCBCBC;
$secondary-light-color: #F2F2F2;
$white-color: #FFFFFF;
$black-color: #000000;
$text-color: #262626;


$footer-bg-color: #F9F9F9;


$container_big_sz: 1920px;
$container_sz: 1440px;